#jogo-selecionado {
    margin-bottom: 100px;
    display: grid;
    grid-template-columns: 550px 500px;
    gap: 60px;
}

#outdoor {
    position: relative;
}

#outdoor a {
    width: 70px;
    height: 70px;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    background-color: initial;
    background-image: url(../assets/icons/play.svg);
}

#outdoor img {
    width: 550px;
    height: 350px;
}

#jogo-selecionado p {
    padding: 2.1rem;
    border-radius: 40px 40px 40px 0;
    font-size: 2.1rem;
    color: rgb(0, 0, 0);
    font-weight: 500;
    letter-spacing: 1px;
    background-color: rgb(255, 255, 255);
}

#mais-jogos {
    width: calc(var(--width-outros-jogos) * 3);
    display: flex;
    flex-wrap: wrap;
}

#mais-jogos img:hover {
    cursor: pointer;
}

.outro-jogo {
    position: relative;
}

.outro-jogo img {
    width: 320px;
    height: 200px;
    margin: 25px;
    position: relative;
    bottom: 0;
    transition: 250ms;
}

.outro-jogo img:hover {
    bottom: 20px;
    box-shadow: 0px 15px 0px 5px rgba(255, 255, 255, 0.1);
}